.main {
    background-color: #343541;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .chat {
    flex-grow: 1;
    list-style: none;
    padding-left: 0;
    /* max-height: fit-content; */
    overflow: auto;
  }
  
  .chat li {
    color: white;
    display: flex;
    border: #343541 solid 1px;
    background-color: #444654;
    /* padding: 5px; */
    justify-content: center;
  }

  .chat li.user{
    background-color: #343541;
  }

  .chat-container{
    width: 50%;
    text-align: left;
  }
  
  .input {
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
  }
  
  .input-container {
    /* background-color: red; */
    /* align-items: center; */
    width: 50%;
    height: 75%;
    margin: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .prompt {
    width: 100%;
  }
  
  .prompt input {
    height: 100%;
    width: 100%;
  }