.sidebar {
    background-color: #202123;
    width: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
  }
  
  .newchat {
    /* background-color: #fff; */
    border-radius: 10px;
    height: 50px;
    margin: 10px;
    border: 1px solid white;
    background-color: #202123;
    color: white;
  }
  
  .newchat:hover {
    background-color: gray;
    opacity: 0.7;
  }
  
  .historylist {
    flex-grow: 1;
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
  
  .historylist li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    height: 44px;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    /* background: #000; */
  }
  
  .historylist li:hover {
    background-color: gray;
    opacity: 0.7;
  }

  .historylist div{
    word-break: break-all;
    width: 192px;
    height: 20px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(10px);
  }

  .historylist p{
    position: absolute; /* position the text absolutely within the container */
    text-overflow: ellipsis;
    backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%; /* set the width to 100% so that it fills the container */
  backdrop-filter: blur(5px); /* apply the backdrop filter with the desired blur value */
  color: white;
  }
  
  .kmpbutton {
    height: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: #202123;
  }
  
  .bmbutton {
    height: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: #202123;
  }