.newbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.newchat{
    /* width: 128px; */
    width: 80%;
    height: 20px;
    padding: 12px;
    margin : 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #202123;
    color: white;
    text-decoration: none;
  }
  
  .newchat:hover{
    background-color: gray;
    opacity: 0.7;
  }
  
  .historylist{
    position: relative;
    height: 70%;
  }
  
  .histories{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .history{
    width: 75%;
    height: 20px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    background-color: #202123;
  }
  
  .history:hover{
    background-color: gray;
    opacity: 0.5;
  }
  
  .buttons{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30%;
  }
  
  .algbutton{
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  
  .algbutton > h2{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .kmpbutton{
    width: 128px;
    height: 20px;
    /* padding: 12px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    background-color: #202123;
  }
  
  .bmbutton{
    width: 128px;
    height: 20px;
    /* padding: 12px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #202123;
    color: white;
  }